<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>by Striker1238| @ViewBag.Title</title>
    <link rel="stylesheet" href="/css/site.css">
</head>
<body>
    <h2>@ViewBag.Title</h2>
    <div>
        @RenderBody()
    </div>
</body>
</html>